#tictactoe-header {
  margin: 40px 0;
  text-align: center;
  font-size: 2rem;
}

.score-board {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  /* border: 1px solid blue; */
}

.score-board div {
  margin-top: 20px;
  width: 100px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid black;
}

.score-board span {
  /* border: 1px solid green; */
}

.game-board {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  background-color: #f1f5f9;
  color: #17213f;
  border: 6px solid #f1f5f9;
  border-radius: 10px;

  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.game-board div:nth-child(even) {
  color: #f0abfc;
}

.box {
  border: 6px solid #818cf8;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
